<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('css') }}
        {% endblock %}
        <script>
            window.app_locale = "{{ app.request.locale }}";
            window.app_translations = {{ translation_dumper.dump()|json_encode|raw }};
        </script>
    </head>
    <body>
        <img class="logo" src="/build/images/logo.svg"/>
        <div id="app"></div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
